<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <a th:href="@{/search}">Search</a> &nbsp;
            <a th:href="@{/contest}">Logo contest</a> &nbsp;
            <span th:if="${user==null}"><a th:href="@{/login}">Log in</a> &nbsp;</span>
            <span th:if="${user!=null}"><a th:href="@{/logout}">Log out <span th:text="${user}">user</span></a> &nbsp;</span>
        </header>
    </body>
</html>
