<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Contest</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <h1>Logo contest</h1>

        <p>Submit your SVG logo to the contest. The winner will be announced at the end of the event.</p>

        <form action="#" th:action="@{/contest}" method="POST">
            <p><label for="logo">SVG code:</label><br />
                <textarea name="logo" id="logo" rows="10" cols="50">&lt;circle cx=&quot;50&quot; cy=&quot;50&quot; r=&quot;40&quot; stroke=&quot;green&quot; stroke-width=&quot;4&quot; fill=&quot;yellow&quot; /&gt;</textarea>
            </p>
            <p>Only one submission per participant. A new submission will replace your previous one.</p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <div th:if="${logos.size()>0}">
            <h4>Current submissions:</h4>
            <ul>
                <li th:each="logo : ${logos}">
                    <a th:href="@{/logo/{id} (id=${logo.id})}">
                        by <span th:text="${logo.name}">buddy</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
