<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <h1>Check if your buddy is coming</h1>

        <form action="#" th:action="@{/search}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><input type="submit" value="Search" /></p>
        </form>

        <p if="${buddies.size()==0}">Looks like your buddy hasn't signed up, yet</p>

        <ul th:if="${buddies}">
            <li th:each="buddy : ${buddies}">
                <span th:text="${buddy}">buddy</span>
            </li>
        </ul>
    </body>
</html>
